:root {
  --font-pixel: 'Press Start 2P', monospace;
  --font-ScienceGothic: 'Science Gothic', sans-serif;
}

.projects {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  position: relative;
}

.projects::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      to right,
      rgba(255,255,255,0.04) 2px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(255,255,255,0.04) 2px,
      transparent 1px
    );

  background-size: 80px 80px;
  pointer-events: none;
  z-index: 0;
}

.projects__meta {
  position: absolute;
  font-family: var(--font-Anton);
  font-size: 10rem;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}

.projects__meta--top {
  font-weight: 1000;
  top: 2rem;
  right: 2rem;
}

.projects__container {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.projects__title {
  font-family: var(--font-Anton);
  font-size: clamp(2.25rem, 5vw, 5.75rem);
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  color: #bfc0d1;
  text-align: left;
}

.projects__text {
  font-size: 1.2rem;
  color: #9ca3af;
  line-height: 1.6;
  text-align: left;
}

.projects__spacer {
  height: 0.1rem;
  max-width: 100%;
  margin: 3%;
  background-color: #bfc0d1;
}

.projects__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );

  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.projects__track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.projects__slider:hover .projects__track {
  animation-play-state: paused;
}

.projects__slide {
  position: relative;
  width: 570px;
  height: 400px;
  margin-right: 2rem;
  flex-shrink: 0;
}

.projects__image {
  width: 100%;
  height: 100%;
  background: #000;
  border: 2px solid #bfc0d1;
}

.projects__overlay {
  font-family: var(--font-Anton);
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.781);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.projects__slide:hover .projects__overlay {
  opacity: 1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
