:root {
  --font-pixel: 'Press Start 2P', monospace;
  --font-ScienceGothic: 'Science Gothic', sans-serif;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.hero__container {
  max-width: 80%;
  text-align: center;
}

.hero__subtitle {
  font-family: var(--font-ScienceGothic);
  font-size: 1.75rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #bfc0d1;
  margin-bottom: 1rem;
}

.hero__title {
  font-family: var(--font-pixel);
  font-size: clamp(2.25rem, 5vw, 2.75rem);
  font-weight: 700;
  line-height: 1.2;
  background: linear-gradient(
    50deg,
    #60519b,
    #bfc0d1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__title span {
  background: linear-gradient(45deg, #bfc0d1, #60519b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__description {
  margin: 1.5rem auto 0;
  max-width: 42rem;
  font-size: 1.125rem;
  color: #9ca3af;
}

.hero__actions {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.hero__content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  align-items: center;
}

.hero__description {
  color: #9ca3af;
  font-size: 1rem;
  line-height: 1.6;
}

.hero__description--left {
  text-align: center;
}

.hero__description--right {
  text-align: center;
}

.hero__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hero__image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 1%;

  filter: 
    hue-rotate(260deg)
    saturate(1.15)
    brightness(0.95);
}

.hero__image--secondary {
  width: 500px;
  height: 350px;
  opacity: 0.85;
  border-radius: 1%; 
}

@media (max-width: 768px) {
  .hero__images {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero__image,
  .hero__image--secondary {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}