:root {
  --font-pixel: 'Press Start 2P', monospace;
  --font-ScienceGothic: 'Science Gothic', sans-serif;
  --font-Anton: 'Anton', sans-serif;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      to right,
      rgba(255,255,255,0.04) 2px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(255,255,255,0.04) 2px,
      transparent 1px
    );

  background-size: 80px 80px;
  pointer-events: none;
  z-index: 0;
}

.hero::after {
  content: "183";
  position: absolute;
  bottom: 2rem;
  left: 10rem;
  font-family: var(--font-ScienceGothic);
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  z-index: 0;
}

.hero__meta {
  position: absolute;
  font-family: var(--font-Anton);
  font-size: 10rem;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}

.hero__meta--top {
  font-weight: 1000;
  top: 2rem;
  right: 2rem;
}

.hero__meta--bottom {
  font-size: 3rem;
  bottom: 11.5rem;
  right: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.hero__container {
  max-width: 80%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero__content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  align-items: stretch;
}

.hero__vertical {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  writing-mode: sideways-lr;
  text-orientation: mixed;
  align-self: end;
}

.hero__role {
  font-family: var(--font-ScienceGothic);
  letter-spacing: 0.3em;
  font-size: 0.9rem;
  color: #9ca3af;
  text-transform: uppercase;
}

.hero__title-vertical {
  font-family: var(--font-Anton);
  font-size: 4rem;
  font-weight: 500;
  background: #bfc0d1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slideUpFade 1.5s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

.hero__image-wrapper {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
}

.hero__image-main {
  width: 420px;
  height: 560px;
  object-fit: cover;
  border-radius: 4px;

  filter:
    hue-rotate(260deg)
    saturate(1.1)
    brightness(0.95);
}

.hero__description--bottom {
  grid-column: 1 / -1;
  max-width: 49rem;
  font-size: 1.2rem;
  color: #9ca3af;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 768px) {
  .hero__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;
  }

  .hero__vertical {
    writing-mode: horizontal-tb;
    order: 1;
    align-items: center;
  }

  .hero__image-wrapper {
    order: 2;
  }

  .hero__image-main {
    display: none;
  }

  .hero__description--bottom {
    text-align: center;
    order: 3;

  }

  .hero__meta {
    display: none;
  }

  .hero::after {
    content: none;
  }
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
