.btn {
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn--primary {
  background-color: #60519b;
  color: #fff;
  border: 1px solid #60519b;

  box-shadow:
    0 0 10px rgba(96, 81, 155, 0.6),
    0 0 20px rgba(96, 81, 155, 0.3);
}

.btn--primary:hover {
  background-color: #4a3f75;
  transform: translateY(-2px);

  box-shadow:
    0 0 12px rgba(96, 81, 155, 0.8),
    0 0 30px rgba(96, 81, 155, 0.5);
}

.btn--secondary {
  color: #fff;
  border: 1px solid #bfc0d1;

  padding: 0.75rem 1.75rem;
  display: inline-block;

  transform: skewX(-15deg);
  box-shadow:
    0 0 10px rgba(43, 43, 44, 0.6),
    0 0 20px rgba(50, 49, 51, 0.3);
}

.btn--secondary span {
  display: inline-block;
  transform: skewX(15deg);
}

.btn--secondary:hover {
  background-color: #ffffff;
  transform: skewX(-15deg) translateY(-2px);
  color: #000000;
}